.about_me {
    width: 50%;
    min-width: 563px;
    height: 100%;
    align-items: center;

    position: relative;
    display: flex;

    @media screen and (max-width:880px) {
        left: 0;
        flex-wrap: wrap;

    }
}



.about_me_main_content {
    width: 100%;
    min-width: 563px;
    width: auto;
    height: 50%;
    position: relative;
    left: 8%;

    @media screen and (max-width:880px) {
        width: 40%;
        margin: 0 auto;
        left: 0;

    }
}

.about_me_title_1_container {
    background: #333333;
    color: #fff;
    width: 100%;
    padding: 5px 10px;
    width: 100px;
    text-align: center;
}

.about_me_title_1 {
    font-size: 13px;
    font-weight: 400;
}

.about_me_title_2_container {
    margin-top: 10px;
    width: 100%;
}

.about_me_title_2 {
    font-size: 36px;
    color: #31d181;
    font-weight: 800;
}

.about_me_content_1_container {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 80%;
}

.about_me_content_1 {
    font-size: 16px;
    line-height: 24px;
    color: #777777;
    font-weight: 400;
}

.about_me_contactInfo{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.about_me_contactInfo_font{
    font-size: 20px;
    line-height: 40px;
    font-weight: 600;
    color: #333333;
    white-space:nowrap;
}

a{
    outline: medium none;
    color: #31d181;
}