.page_active{
    display: flex;
}

.page_inactive{
    display: none;
}

.move_to_left {
    animation: slide_to_left 1.5s;
    animation-fill-mode:forwards;
    transform-origin: left;
}

.move_to_right {
    animation: slide_to_right 1.5s;
    animation-fill-mode:forwards;
    transform-origin: right;
}

@keyframes slide_to_left {
    25% {
        transform: scale(0.8);
    }
    100% {
        transform: translate(-25%);
    }
}
@keyframes slide_to_right {
    25% {
        transform: scale(0.8);
    }
    100% {
        transform: translate(25%);
    }
}


