.home_page {
  width: 80%;
  min-width: 563px;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

@media screen and (max-width: 880px) {
  .home_page {
    flex-wrap: wrap;
  }
}

.main_content_img {
  width: 50%;
  min-width: 220px;
  height: auto;
  position: relative;
  left: -12%;
}

@media screen and (max-width: 880px) {
  .main_content_img {
    width: 18%;
    left: 0;
    margin: 0 auto;
    top: 12%;
  }
}

.main_content_img:hover {
  transform: scale(1.1);
  transition: 0.2s;
}

.img_border {
  width: 100%;
  height: auto;
}

.img_border:before {
  position: absolute;
  content: "";
  top: -35px;
  right: -35px;
  height: 95%;
  width: 90%;
  border: 15px solid #31d181;
  display: inline-block;
  z-index: -1;
}

.me {
  max-width: 100%;
  height: auto;
}

.main_content {
  width: 100%;
  min-width: 563px;
  width: auto;
  height: 50%;
  position: relative;
  left: -5%;
}

@media screen and (max-width: 880px) {
  .main_content {
    width: 40%;
    margin: 0 auto;
    top: 3%;
    left: 0;
  }
}

.content_1_container {
  width: 100%;
}

.content_1 {
  font-size: 45px;
  font-weight: 1000;
}

.content_2_container {
  margin-top: 15px;
  width: 100%;
}

.content_2 {
  font-size: 50px;
  font-weight: 800;
}

.content_3_container {
  margin-top: 15px;
  width: 80%;
}

.content_3 {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: #76778E;
}
