@import './navBar.scss';
@import './side.scss';
@import './home/homePage.scss';
@import './home/aboutMe.scss';
@import './home/resume.scss';
@import './home/contact.scss';
@import './home/animation.scss';



* {
    margin: 0;
    padding: 0;
}


button {
    margin: 0;
    padding: 0;
    border: 1px solid transparent;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

h1 {
    font-weight: normal;
    font-size: 18px;
}

ul {
    list-style-type: None;
}

html {
    
    height: 100%;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body{
    height: 100%;
}

