nav {
  min-width: 700px;
  height: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  z-index: 999; }

.header_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center; }

.logo {
  width: 60px;
  height: auto;
  position: absolute;
  left: 2%; }

.title {
  min-width: 100px;
  margin: 0 25px;
  text-align: center;
  color: #31D081; }

.title_button:hover {
  background-color: #31D081;
  color: white; }

.title_button_active {
  background-color: #31D081;
  color: white; }

main {
  height: 100%; }

.pageContainer {
  width: 100%;
  height: 100%;
  display: flex;
  margin-top: -100px;
  overflow: hidden;
  flex-wrap: nowrap; }

.sliding_window {
  width: 360%;
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  left: -10%;
  justify-content: flex-start;
  flex-shrink: 0; }

.main_content_img {
  width: 20%;
  min-width: 220px;
  height: auto;
  position: relative;
  flex-shrink: 0; }
  @media screen and (max-width: 880px) {
    .main_content_img {
      width: 20%;
      left: 0;
      margin: 0 auto;
      top: 80px; } }

.main_content_img:hover {
  transform: scale(1.1);
  transition: 0.2s; }

.img_border {
  width: 100%;
  height: auto; }

.img_border:before {
  position: absolute;
  content: "";
  top: -35px;
  right: -35px;
  height: 95%;
  width: 90%;
  border: 15px solid #31d181;
  display: inline-block;
  z-index: -1; }

.me {
  max-width: 100%;
  height: auto; }

.side {
  width: 20%;
  height: 100%;
  background: linear-gradient(to right, #1ccaa2 0%, #31d181 100%);
  position: relative;
  flex-shrink: 0; }

.logo_img {
  max-width: 100%;
  height: auto; }

.background_pattern {
  width: 100%;
  height: auto;
  margin-left: 5%;
  margin-right: 5%;
  position: absolute;
  bottom: 15%;
  left: 0; }

.background_pattern_img {
  max-width: 100%;
  height: auto; }

.home_page {
  width: 25%;
  min-width: 563px;
  height: 100%;
  align-items: center;
  display: flex;
  position: relative; }
  @media screen and (max-width: 880px) {
    .home_page {
      left: 0;
      flex-wrap: wrap; } }

.home_page_main_content {
  width: 100%;
  min-width: 563px;
  width: auto;
  height: 50%;
  position: relative;
  left: 8%; }
  @media screen and (max-width: 880px) {
    .home_page_main_content {
      width: 40%;
      margin: 0 auto;
      top: 40px;
      left: 0; } }

.home_page_content_1_container {
  width: 100%; }

.home_page_content_1 {
  font-size: 45px;
  font-weight: 1000; }

.home_page_content_2_container {
  margin-top: 15px;
  width: 100%; }

.home_page_content_2 {
  font-size: 50px;
  font-weight: 800; }

.home_page_content_3_container {
  margin-top: 15px;
  width: 80%; }

.home_page_content_3 {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: #76778E; }

.about_me {
  width: 25%;
  min-width: 563px;
  height: 100%;
  align-items: center;
  position: relative;
  display: flex; }
  @media screen and (max-width: 880px) {
    .about_me {
      left: 0;
      flex-wrap: wrap; } }

.about_me_main_content {
  width: 100%;
  min-width: 563px;
  width: auto;
  height: 50%;
  position: relative;
  left: 8%; }
  @media screen and (max-width: 880px) {
    .about_me_main_content {
      width: 40%;
      margin: 0 auto;
      left: 0; } }

.about_me_title_1_container {
  background: #333333;
  color: #fff;
  width: 100%;
  padding: 5px 10px;
  width: 100px;
  text-align: center; }

.about_me_title_1 {
  font-size: 13px;
  font-weight: 400; }

.about_me_title_2_container {
  margin-top: 10px;
  width: 100%; }

.about_me_title_2 {
  font-size: 36px;
  color: #31d181;
  font-weight: 800; }

.about_me_content_1_container {
  margin-top: 10px;
  margin-bottom: 20px;
  width: 70%; }

.about_me_content_1 {
  font-size: 16px;
  line-height: 24px;
  color: #777777;
  font-weight: 400; }

.about_me_contactInfo {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }

.about_me_contactInfo_font {
  font-size: 20px;
  line-height: 40px;
  font-weight: 600;
  color: #333333;
  white-space: nowrap; }

a {
  outline: medium none;
  color: #31d181; }

.resume {
  width: 25%;
  min-width: 563px;
  height: 100%;
  align-items: center;
  display: flex;
  position: relative; }
  @media screen and (max-width: 880px) {
    .resume {
      left: 0;
      flex-wrap: wrap; } }

.resume_main_content {
  width: 85%;
  min-width: 563px;
  height: 70%;
  position: relative;
  background: linear-gradient(to right, white 50%, transparent 100%);
  padding: 2% 2%; }
  @media screen and (max-width: 880px) {
    .resume_main_content {
      width: 40%;
      margin: 0 auto;
      top: 40px;
      left: 0; } }

.resume_title_1_container {
  background: #333333;
  color: #fff;
  width: 130px;
  height: 30px;
  text-align: center;
  line-height: 30px; }

.resume_title_1 {
  font-size: 13px;
  font-weight: 400; }

.resume_title_2_container {
  width: 100%;
  height: 50px;
  line-height: 50px; }

.resume_title_2 {
  font-size: 42px;
  color: #31d181;
  font-weight: 800; }

.resume_content_container {
  width: 100%;
  height: calc(100% - 80px);
  display: flex;
  overflow: scroll;
  flex: 0 0 auto;
  flex-wrap: wrap; }

.resume_education {
  width: 50%;
  height: auto;
  /* background-color: yellow; */
  flex-shrink: 0; }

.resume_career {
  width: 50%;
  height: auto;
  /* background-color: blue; */
  flex-shrink: 0; }

.resume_education_title {
  display: flex;
  flex-direction: column; }
  .resume_education_title h3 {
    font-size: 28px; }
  .resume_education_title ::after {
    content: "";
    width: 40px;
    height: 2px;
    background: linear-gradient(to right, #1ccaa2 0%, #31d181 100%);
    display: block;
    margin-top: 5px; }

.resume_education_content {
  width: 90%;
  height: 800px; }
  .resume_education_content li {
    width: 100%;
    height: 25%;
    display: flex;
    padding-left: 10px;
    margin-top: 40px; }
    .resume_education_content li .start_year {
      font-size: 16px;
      position: relative;
      left: 0px;
      top: -12px;
      color: #777777; }
    .resume_education_content li .end_year {
      font-size: 16px;
      position: relative;
      left: -36px;
      top: 195px;
      color: #777777; }
    .resume_education_content li .side_bar::before {
      content: "";
      width: 6px;
      height: 6px;
      border-radius: 100%;
      border: 2px solid #777777;
      position: absolute;
      left: -5px;
      top: -8px; }
    .resume_education_content li .side_bar::after {
      content: "";
      width: 6px;
      height: 6px;
      border-radius: 100%;
      border: 2px solid #777777;
      position: absolute;
      left: -5px;
      top: 200px; }
    .resume_education_content li .side_bar {
      width: 2px;
      height: 100%;
      background: #777777;
      position: relative;
      left: -30px;
      top: 0; }
    .resume_education_content li .resume_education_text {
      width: 100%;
      height: calc(100%-30px);
      margin: 10px;
      background-color: #FBFBFB; }
      .resume_education_content li .resume_education_text .degree {
        margin: 15px;
        font-size: 18px;
        line-height: 20px; }
      .resume_education_content li .resume_education_text .school {
        margin: 15px;
        font-size: 14px;
        line-height: 14px;
        color: #31d181; }
      .resume_education_content li .resume_education_text .description {
        margin: 15px;
        font-size: 16px;
        line-height: 20px;
        color: #777777; }

.skill {
  width: 50%;
  height: 100%;
  /* background-color: blue; */
  flex-shrink: 0;
  font-size: 28px;
  font-weight: 800;
  margin-top: -50px;
  display: flex;
  flex-direction: column; }
  .skill h2::after {
    content: "";
    width: 40px;
    height: 2px;
    background: linear-gradient(to right, #1ccaa2 0%, #31d181 100%);
    display: block;
    margin-top: 5px; }
  .skill h2 span {
    color: #31d181; }
  .skill .skill_text {
    width: 90%;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #777777;
    margin-top: 5px; }

.skill_bar_container {
  width: 90%;
  height: auto;
  margin-top: 20px; }
  .skill_bar_container .skill_bar_text {
    font-size: 14px;
    color: #777777; }
    .skill_bar_container .skill_bar_text span {
      float: right; }
  .skill_bar_container .skill_bar_background {
    width: 100%;
    height: 6px;
    background-color: #666666;
    margin-top: 20px;
    position: relative; }
    .skill_bar_container .skill_bar_background .skill_bar {
      /* float: left; */
      height: 6px;
      background-color: #31d181;
      position: relative;
      z-index: 999; }

#bar1 {
  width: 95%; }

#bar2 {
  width: 90%; }

#bar3 {
  width: 80%; }

#bar4 {
  width: 95%; }

#bar5 {
  width: 95%; }

#bar6 {
  width: 90%; }

.contact {
  width: 25%;
  min-width: 563px;
  height: 100%;
  align-items: center;
  display: flex;
  position: relative; }
  @media screen and (max-width: 880px) {
    .contact {
      left: 0;
      flex-wrap: wrap; } }

.contact_main_content {
  width: 100%;
  min-width: 563px;
  height: 70%;
  position: relative;
  padding: 2% 5%; }
  @media screen and (max-width: 880px) {
    .contact_main_content {
      width: 40%;
      margin: 0 auto;
      top: 40px;
      left: 0; } }

.contact_title_1_container {
  background: #333333;
  color: #fff;
  width: 130px;
  height: 30px;
  text-align: center;
  line-height: 30px; }

.contact_title_1 {
  font-size: 13px;
  font-weight: 400; }

.contact_title_2_container {
  width: 100%;
  height: 50px;
  line-height: 50px; }

.contact_title_2 {
  font-size: 42px;
  color: #31d181;
  font-weight: 800; }

.contact .main_content_img {
  width: 30%; }

.page_active {
  display: flex; }

.page_inactive {
  display: none; }

.sliding_window_first_position {
  left: -10%; }

.sliding_window_second_position {
  left: -100%; }

.sliding_window_third_position {
  left: -190%; }

.sliding_window_fourth_position {
  left: -280%; }

.move_to_left_one_section {
  animation: slide_to_left_one_section 1.5s;
  animation-fill-mode: forwards; }

.move_to_right_one_section {
  animation: slide_to_right_one_section 1.5s;
  animation-fill-mode: forwards; }

.move_to_left_two_sections {
  animation: slide_to_left_two_sections 1.5s;
  animation-fill-mode: forwards; }

.move_to_right_two_sections {
  animation: slide_to_right_two_sections 1.5s;
  animation-fill-mode: forwards; }

.move_to_left_three_sections {
  animation: slide_to_left_three_sections 1.5s;
  animation-fill-mode: forwards;
  transform-origin: left; }

.move_to_right_three_sections {
  animation: slide_to_right_three_sections 1.5s;
  animation-fill-mode: forwards;
  transform-origin: right; }

@keyframes slide_to_left_one_section {
  25% {
    transform: scale(0.8); }
  100% {
    transform: translate(-25%); } }
@keyframes slide_to_right_one_section {
  25% {
    transform: scale(0.8); }
  100% {
    transform: translate(25%); } }
@keyframes slide_to_left_two_sections {
  25% {
    transform: scale(0.8); }
  100% {
    transform: translate(-50%); } }
@keyframes slide_to_right_two_sections {
  25% {
    transform: scale(0.8); }
  100% {
    transform: translate(50%); } }
@keyframes slide_to_left_three_sections {
  25% {
    transform: scale(0.8); }
  100% {
    transform: translate(-75%); } }
@keyframes slide_to_right_three_sections {
  25% {
    transform: scale(0.8); }
  100% {
    transform: translate(75%); } }
* {
  margin: 0;
  padding: 0; }

button {
  margin: 0;
  padding: 0;
  border: 1px solid transparent;
  outline: none;
  background-color: transparent;
  cursor: pointer; }

h1 {
  font-weight: normal;
  font-size: 18px; }

ul {
  list-style-type: None; }

html {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box; }

body {
  height: 100%; }

/*# sourceMappingURL=index.css.map */
